/**
* ZEPPLIN COLORS
*/
$GorilaDefault: #10c0c6;
$GorilaSecondary: #4dde90;
$RendaFixaDefault: #815ae8;
$RendaFixaSecondary: #9278f4;
$MultimercadoDefault: #10e9ff;
$MultimercadoSecondary: #4af6ff;
$RendaVariavelDefault: #ed4581;
$RendaVariavelSecondary: #f766a1;
$MoedasDefault: #fcbd1f;
$MoedasSecondary: #ffd364;
$positive: #75b629;
$negative: #ef2e2e;
$textDefault: #555b5b;
$textSecondary: #888e8e;
$backgroundDefault: #f1f1f1;
$GorilaVenda: #f57439;

$asset-colors-primary:(
  default: $GorilaDefault,
  currency: $MoedasDefault,
  fixed_income: $RendaFixaDefault,
  multimarket: $MultimercadoDefault,
  stocks: $RendaVariavelDefault,
  benchmark: #777878
);
$asset-colors-secondary:(
  default: $GorilaSecondary,
  currency: $MoedasSecondary,
  fixed_income: $RendaFixaSecondary,
  multimarket: $MultimercadoSecondary,
  stocks: $RendaVariavelSecondary,
  benchmark: #a3a5a6
);


$neutral-colors: ( darkest: #000000, darker: #2d2d2d, dark: #555b5b, normal: #888e8e, light: #d6d4d5, ligher: #f0f0f0, lightest: #ffffff);
.asset-color {
  color: map-get($asset-colors-primary, default) !important;
  &.currency {
    color: map-get($asset-colors-primary, currency) !important;
  }
  &.fixed_income {
    color: map-get($asset-colors-primary, fixed_income) !important;
  }
  &.multimarket {
    color: map-get($asset-colors-primary, multimarket) !important;
  }
  &.stocks {
    color: map-get($asset-colors-primary, stocks) !important;
  }
  &.benchmark {
    color: map-get($asset-colors-primary, benchmark) !important;
  }
}

@mixin generate-asset-bg($opacity) {
  background-color: rgba(map-get($asset-colors-primary, default), $opacity) !important;
  &.currency {
    background-color: rgba(map-get($asset-colors-primary, currency), $opacity) !important;
  }
  &.fixed_income {
    background-color: rgba(map-get($asset-colors-primary, fixed_income), $opacity) !important;
  }
  &.multimarket {
    background-color: rgba(map-get($asset-colors-primary, multimarket), $opacity) !important;
  }
  &.stocks {
    background-color: rgba(map-get($asset-colors-primary, stocks), $opacity) !important;
  }
  &.benchmark {
    background-color: rgba(map-get($asset-colors-primary, benchmark), $opacity) !important;
  }
}

.asset-bg {
  color: #fff;
  @include generate-asset-bg(1);
}

.asset-bg-opacity {
  @include generate-asset-bg(.15);
}

@mixin generate-asset-gradient($type) {
  $color1: map-get($asset-colors-primary, $type);
  $color2: map-get($asset-colors-secondary, $type);
  $c1: rgba($color1, 1);
  $c2: rgba($color2, 1);
  background: linear-gradient(90deg, $c1, $c2) !important;
}

.asset-gradient {
  @include generate-asset-gradient(default);
  &.currency {
    @include generate-asset-gradient(currency);
  }
  &.fixed_income {
    @include generate-asset-gradient(fixed_income);
  }
  &.multimarket {
    @include generate-asset-gradient(multimarket);
  }
  &.stocks {
    @include generate-asset-gradient(stocks);
  }
  &.benchmark {
    @include generate-asset-gradient(benchmark);
  }
}

@mixin generate-animated-asset-gradient($type) {
  $color1: map-get($asset-colors-primary, $type);
  $color2: map-get($asset-colors-secondary, $type);
  $c1: rgba($color1, 1);
  $c2: rgba($color2, 1);
  background-image: linear-gradient(to right, $c2 0%, $c1 51%, $c2 100%) !important;
}

.animated-asset-gradient {
  @include generate-animated-asset-gradient(default);transition: 0.5s;
  background-size: 200% auto;
  &:hover {
    background-position: right center !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
  }
  &.currency {
    @include generate-animated-asset-gradient(currency);
  }
  &.fixed_income {
    @include generate-animated-asset-gradient(fixed_income);
  }
  &.multimarket {
    @include generate-animated-asset-gradient(multimarket);
  }
  &.stocks {
    @include generate-animated-asset-gradient(stocks);
  }
  &.benchmark {
    @include generate-animated-asset-gradient(benchmark);
  }
}


// generate in http://mcg.mbitson.com/ with #11c0c5
$mat-gorila-primary: (
  50 : #e2f7f8,
  100 : #b8ecee,
  200 : #88e0e2,
  300 : #58d3d6,
  400 : #35c9ce,
  500 : #11c0c5,
  600 : #0fbabf,
  700 : #0cb2b8,
  800 : #0aaab0,
  900 : #059ca3,
  A100 : #cffcff,
  A200 : #9cfaff,
  A400 : #69f7ff,
  A700 : #4ff6ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$mat-gorila-currency-primary: (
    50 : #fff7e4,
    100 : #feebbc,
    200 : #fede8f,
    300 : #fdd162,
    400 : #fcc741,
    500 : #fcbd1f,
    600 : #fcb71b,
    700 : #fbae17,
    800 : #fba612,
    900 : #fa980a,
    A100 : #ffffff,
    A200 : #fff8f0,
    A400 : #ffe2bd,
    A700 : #ffd6a3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-fixed_income-primary: (
    50 : #f0ebfc,
    100 : #d9cef8,
    200 : #c0adf3,
    300 : #a78cee,
    400 : #9473eb,
    500 : #815ae7,
    600 : #7952e4,
    700 : #6e48e0,
    800 : #643fdd,
    900 : #512ed7,
    A100 : #ffffff,
    A200 : #eae5ff,
    A400 : #c1b3ff,
    A700 : #ac99ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-multimarket-primary: (
    50 : #e4fcfa,
    100 : #baf6f3,
    200 : #8df1eb,
    300 : #5febe3,
    400 : #3ce6dd,
    500 : #1ae2d7,
    600 : #17dfd3,
    700 : #13dacd,
    800 : #0fd6c7,
    900 : #08cfbe,
    A100 : #f8fffe,
    A200 : #c5fff9,
    A400 : #92fff5,
    A700 : #79fff2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-stocks-primary: (
    50 : #fde9f0,
    100 : #fac7d9,
    200 : #f6a2c0,
    300 : #f27da7,
    400 : #f06194,
    500 : #ed4581,
    600 : #eb3e79,
    700 : #e8366e,
    800 : #e52e64,
    900 : #e01f51,
    A100 : #ffffff,
    A200 : #ffe4ea,
    A400 : #ffb1c3,
    A700 : #ff97af,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// generate in http://mcg.mbitson.com/ with #5ce385
$mat-gorila-accent: (
  50 : #ebfcf0,
  100 : #cef7da,
  200 : #aef1c2,
  300 : #8debaa,
  400 : #74e797,
  500 : #5ce385,
  600 : #54e07d,
  700 : #4adc72,
  800 : #41d868,
  900 : #30d055,
  A100 : #ffffff,
  A200 : #e1ffe8,
  A400 : #aeffbf,
  A700 : #95ffab,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$mat-gorila-currency-accent: (
    50 : #fffaec,
    100 : #fff2d1,
    200 : #ffe9b2,
    300 : #ffe093,
    400 : #ffda7b,
    500 : #ffd364,
    600 : #ffce5c,
    700 : #ffc852,
    800 : #ffc248,
    900 : #ffb736,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff4e0,
    A700 : #ffeac7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-fixed_income-accent: (
    50 : #f2effe,
    100 : #ded7fc,
    200 : #c9bcfa,
    300 : #b3a1f7,
    400 : #a28cf6,
    500 : #9278f4,
    600 : #8a70f3,
    700 : #7f65f1,
    800 : #755bef,
    900 : #6348ec,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e1dcff,
    A700 : #ccc3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-multimarket-accent: (
    50 : #e4fefc,
    100 : #bbfcf7,
    200 : #8efaf1,
    300 : #60f7eb,
    400 : #3ef6e7,
    500 : #1cf4e3,
    600 : #19f3e0,
    700 : #14f1dc,
    800 : #11efd8,
    900 : #09ecd0,
    A100 : #ffffff,
    A200 : #e2fffb,
    A400 : #affff4,
    A700 : #96fff1,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$mat-gorila-stocks-accent: (
    50 : #feedf4,
    100 : #fdd1e3,
    200 : #fbb3d0,
    300 : #f994bd,
    400 : #f87dae,
    500 : #f766a0,
    600 : #f65e98,
    700 : #f5538e,
    800 : #f34984,
    900 : #f13873,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffd4e1,
    A700 : #ffbacf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
